body#bd{
	background: url(../../images/green/background.jpg) center top no-repeat #54860b;
}
a, table.tablelist td a{
	color: #456a11;
}
a:hover, table.tablelist td a:hover{
	color: #395d07;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{
	background: #456a11;
}
.column h1, .column h4, .column h6, .column .contentheading, .column .contentheading,
div.blog .contentheading{
	color: #679d1c;
}
#ja-container .main{
	background-image: url(../../images/containerBgDark.png);
}
div#usertoolWrapper{
	background-image: url(../../images/fontSizeSeparatorDark.png);
}
.ja-navhelper a{
	color: #fff;
	border: 1px solid transparent;
}
.ja-navhelper a:hover, .ja-navhelper a:active, .ja-navhelper a:focus, .ja-links li.top a:hover  { 
	color: #000; 
	text-decoration: none; 
	background-color: #fff;
	border: 1px solid #000;
}
#ja-search {
	background: url(../../images/dark/icon-search.png) no-repeat center left;
}
.button, a.readon, #ja-search .button{
	background: url(../../images/green/greenButton.png) left top repeat-x #92b464;
	border: 1px solid #94b566;
	text-shadow: 0px 1px 0px #7a9356;
}
ul.level0 li.active {
	background:url(../../images/green/menuitemActive_green.png) no-repeat scroll center top #4C5E31;
}
.counter span{
	background:url("../../images/green/greenCounter.png") no-repeat scroll right bottom transparent;
	border-color:#87b053;
}
#ja-splitmenu a:hover, #ja-splitmenu a:active, #ja-splitmenu a:focus, #ja-cssmenu li:hover, #ja-cssmenu li.sfhover, #ja-cssmenu li.havechildsfhover, #ja-cssmenu li.havechild-activesfhover, #jasdl-mainnav a:hover, #jasdl-mainnav ul li.hover a{
	background-color: #395d07;
}
#ja-splitmenu li.active a, #ja-splitmenu li.active a:hover, #ja-splitmenu li.active a:active, #ja-splitmenu li.active a:focus, #ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus,#jasdl-mainnav li.active a, #jasdl-mainnav li.active a:hover, #jasdl-mainnav li.active a:active, #jasdl-mainnav li.active a:focus{
	background-color: #569c07;
}
div.logo-text h1 a{
	color: #a4b58f;
}
p.site-slogan{
	background: #a4b58f;
	color: #ffffff;
}