a, table.tablelist td a{
	color: #a3231b;
}
a:hover, table.tablelist td a:hover{
	color: #881a13;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{
	background: #a3231b;
}
.column h1, .column h4, .column h6, .column .contentheading, .column .contentheading,
div.blog .contentheading{
	color: #b82f25;
}
.button, a.readon, #ja-search .button{
	background: url(../../images/red/redButton.png) left top repeat-x #d14f47;
	border: 1px solid #d2534c;
	text-shadow: 0px 1px 0px #b54b45;
}
ul.level0 li.active {
	background:url(../../images/red/menuitemActive_red.png) no-repeat scroll center top #762020;
}
.counter span{
	background:url("../../images/red/redCounter.png") no-repeat scroll right bottom transparent;
	border-color:#b53a3a;
}