body#bd{
	background: url(../../images/red/background.jpg) center top no-repeat #731305;
}
a, table.tablelist td a{
	color: #a3231b;
}
a:hover, table.tablelist td a:hover{
	color: #881a13;
}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{
	background: #a3231b;
}
.column h1, .column h4, .column h6, .column .contentheading, .column .contentheading,
div.blog .contentheading{
	color: #b82f25;
}
#ja-container .main{
	background-image: url(../../images/containerBgDark.png);
}
div#usertoolWrapper{
	background-image: url(../../images/fontSizeSeparatorDark.png);
}
.ja-navhelper a{
	color: #fff;
	border: 1px solid transparent;
}
.ja-navhelper a:hover, .ja-navhelper a:active, .ja-navhelper a:focus, .ja-links li.top a:hover  { 
	color: #000; 
	text-decoration: none; 
	background-color: #fff;
	border: 1px solid #000;
}
#ja-search {
	background: url(../../images/dark/icon-search.png) no-repeat center left;
}
.button, a.readon, #ja-search .button{
	background: url(../../images/red/redButton.png) left top repeat-x #d14f47;
	border: 1px solid #d2534c;
	text-shadow: 0px 1px 0px #b54b45;
}
ul.level0 li.active {
	background:url(../../images/red/menuitemActive_red.png) no-repeat scroll center top #762020;
}
.counter span{
	background:url("../../images/red/redCounter.png") no-repeat scroll right bottom transparent;
	border-color:#b53a3a;
}
#ja-splitmenu a:hover, #ja-splitmenu a:active, #ja-splitmenu a:focus, #ja-cssmenu li:hover, #ja-cssmenu li.sfhover, #ja-cssmenu li.havechildsfhover, #ja-cssmenu li.havechild-activesfhover, #jasdl-mainnav a:hover, #jasdl-mainnav ul li.hover a{
	background-color: #881a13;
}
#ja-splitmenu li.active a, #ja-splitmenu li.active a:hover, #ja-splitmenu li.active a:active, #ja-splitmenu li.active a:focus, #ja-cssmenu li a.active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:focus,#jasdl-mainnav li.active a, #jasdl-mainnav li.active a:hover, #jasdl-mainnav li.active a:active, #jasdl-mainnav li.active a:focus{
	background-color: #d93d33;
}
div.logo-text h1 a{
	color: #ffffff;
}
p.site-slogan{
	background: #900a22;
	color: #ffffff;
}